{% extends 'base.html' %} {% block content %}

<h1>Pet Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card=title">{{ pet.name }}</span>
        <p>Age: {{ pet.age }}</p>
        <p>Gender: {{ pet.gender }}</p>
        <p>Lives In: {{ pet.lives_in }}</p>
        <p>Personality: {{ pet.personality }}</p>
    <div class="card-action">
        <a href="{% url 'pets_update' pet.id %}">Edit</a>
        <a href="{% url 'pets_delete' pet.id %}">Delete</a>
    </div>
    </div>

</div>

{% endblock %}