{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tails Of Joy</title>
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    /> 
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
        <div class="nav-wrapper grey darken-4">
            <ul>
            <li>
                <a href="/" class="left brand-logo">&nbsp;&nbsp; Tails Of Joy</a>
            </li>
            </ul>
            <ul class="right">
            {% if user.is_authenticated %}
                <li><a href="{% url 'pets_create' %}">Create Pet</a></li>
                <li><a href="{% url 'index' %}">Pet List</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a class="material-icons" href="{% url 'login' %}">account_circle</a></li>
            {% endif %}
            </ul>
        </div>
        </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer grey darken-4">
    <div class="right">
        All Rights Reserved, © 2022 Tails Of Joy  
    </div>
    </footer>

</body>
</html>